
body{
    margin: 0;
}


.main-container{

    width: 100vw;
    height: 100vh;
    background-image: url('./recursos/fondo.jpg');
    padding-top:15px;
}


.card{
    width: 500px;
    height: 600px;

    background-color: white;
    margin: auto;

    
}

img{
    width: 100%;
    height: 100%;
}

.text-container{
    
    height: 45%;
    padding: 25px 15px;
}


.img-container{
    width: 100%;
    height: 55%;
}

h1{
  margin-top: 0;
    text-align: center;
}

hr{
   border:dotted 1px grey;
   
}

p
{
    color: gray;
}

button{
    display: block;
    margin: auto;
    background-color: red;
    color: white;
    height: 40px;
    font-size: 14px;
    width: 180px;
}